{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<div class="retreat-page">
    <div class="page-title">
        <h2>Vipassanā Meditation Retreat With {{page.teacher_biography.name}}</h2>
    </div>
    <!-- Main Content -->
    <div class="main-content">
        <!-- Left Panel -->
        <div class="left-panel">
            {% if page.teacher_biography %}
            <div class="teacher-biography">
                <div class="teacher-info">
                    {% if page.teacher_biography.image %}
                    <!-- Use wagtailimages_tags to render the image -->
                    <!-- Resize the image to 1/4 of its original size -->
                    {% image page.teacher_biography.image width-400 as teacher_image %}
                    <img class="teacher-portrait" src="{{ teacher_image.url }}" alt="{{ page.teacher_biography.name }}">
                    {% endif %}
                    <!--            <div class="biography">-->
                    <!--                {{ page.teacher_biography.biography|richtext }}-->
                    <!--            </div>-->
                </div>
            </div>
            {% endif %}
        </div>

        <!-- Right Panel -->
        <div class="right-panel">
            <section>👤 <a href="#">Teacher's Biography</a></section>
            <!-- Coordinators -->
            {% if page.coordinators.all %}

            <section class="coordinators">
                <strong>Coordinators</strong><br>
                {% for coordinator in page.coordinators.all %}
                {{ coordinator.coordinator.name }}<br>
                {% if coordinator.coordinator.phone_number %}
                Phone: {{ coordinator.coordinator.phone_number }}<br>
                {% endif %}
                {% if coordinator.coordinator.email %}
                Email: <a href="mailto:{{ coordinator.coordinator.email }}">{{ coordinator.coordinator.email }}</a>
                {% endif %}
                <br>
                {% endfor %}
            </section>
            {% endif %}

            <!-- Zoom Information -->
            {% if page.zoom_link or page.zoom_room_id or page.zoom_room_password %}
            <section class="zoom-info">
                <strong>Dhamma Talk Zoom Info</strong><br>
                {% if page.zoom_link %}
                <a href="{{ page.zoom_link }}" target="_blank">Meeting Link</a><br>
                {% endif %}
                {% if page.zoom_room_id %}
                Zoom ID: {{ page.zoom_room_id }} <br>
                {% endif %}
                {% if page.zoom_room_password %}
                Password: {{ page.zoom_room_password }}
                {% endif %}
            </section>
            {% endif %}
            <!--        <a href="#" class="link-button">📘 Retreat Info</a>-->
            <!--        <a href="#" class="link-button">📽️ Dhamma Talk Recordings<br><small>English | Viet</small></a>-->
            <!--        <a href="#" class="link-button">💰 Donations<br><small>English | Viet</small></a>-->
        </div>
    </div>
    <!-- Available Retreats -->
    {% if page.grouped_available_retreats %}
    <section class="available-retreats">
        <h3>Available Retreats</h3>
        {% for category, retreats in page.grouped_available_retreats.items %}
        <div class="retreat-duration">
            {% for retreat in retreats %}
            <div class="duration-option">
                <span>{{category}}</span> &nbsp;
                {{ retreat.available_retreat.start_date }} - {{ retreat.available_retreat.end_date }}
                {% if retreat.available_retreat.note %}
                <div class="duration-note">&nbsp;({{ retreat.available_retreat.note }})</div>
                {% endif %}
                <div class="duration-enroll" style="text-align: right;"><a href="">Registration/Ghi danh</a></div>
            </div>

            {% endfor %}
        </div>
        {% endfor %}
    </section>
    {% endif %}
</div>
{% endblock %}